body {
  background: white;
  color: white;
  display: flex;
}

.container {
  padding: 10px;
}

.wrapper {
  padding: 5px;
  margin: 5px
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.3s ease;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.car-card {
  flex: 1 1 auto;
  justify-content: space-between;
  margin: 0 5px;
  width: auto;
  background-color: #fff;
  border-radius: 8px;
  text-align: left;
}

.car-image-wrapper {
  overflow: hidden;
  position: relative;
}

.car-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  transition: transform 0.5s ease;
}

.car-image-wrapper:hover .car-image {
  transform: scale(1.4);
}

.nav-button {
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}

.carouself {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carouself-inner {
  display: flex;
  transition: transform 0.3s ease;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.filterbar {
  right: 0%;
  display: flex;
  align-items: right;
  position: relative;
  width: 30%;
  padding: 5px;
  margin: 5px;
  height: auto;
}

.card .modelName {
  font-size: 1.5em;
  color: #555;
  margin: 0.5em 0;
  justify-content: space-between;
}

.card .id {
  font-size: 2.5em;
  color: #555;
  margin: 0.5em 0;
}

.card .bodyType,
.card .modelType {
  font-size: 1em;
  color: #555;
}

.card .buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.slider-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #0070f3;
}

.learn-more {
  display: flex;
  text-align: center;
  font-size: 1.5em;
  color: #555;
  margin: 0.5em 0;
  justify-content: space-between;
}

.carDetails {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  border-radius: 8px;
}

.modelName {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.modelType {
  font-size: 1.1rem;
  color: #666;
}

@media (max-width: 599px) {
  .car-card {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .car-card {
    width: 33.33%;
  }
}